* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  overflow-y: hidden;
}

.navbar-brand img {
  width: 80px;
  display: block;
  /* height: 60px; */
  /* margin: 10px auto; */
}

.navbar {
  /* padding: 0.8rem; */
  padding: 0;
  height: 60px;
  padding-right: 25px;
  margin-bottom: 2rem;
  background-image: linear-gradient(45deg, #51a3a3, #75485e);
  border-bottom: 1px solid rgb(207, 203, 203);
}

.navbar-nav {
  display: flex;
  list-style: none;
  /* justify-content: flex-end; */
  gap: 1rem;
  align-items: center;
  /* justify-content: end; */
  padding-right: 40px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.nav-link,
.navbar-brand {
  text-decoration: none;
  color: white;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #00ffaa;
}

.nav-link:focus,
.navbar-brand:focus {
  color: #00ffaa;
}

.form-control:focus {
  border-color: rgb(88, 128, 162);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(88, 128, 162, 0.25);
}

.btn {
  /* background-image: linear-gradient(#51a3a3, #75485e);
  border: none; */
  border-radius: 50px;
  background-color: transparent;
  background-image: none;
  color: black;
  border: 1px solid black;
}

.btn:hover {
  /* background-image: linear-gradient(#69cfcf, #c0789b);

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none; */
  border: none;
  background-image: linear-gradient(#f867b0, #c46b96);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-form {
  background-image: linear-gradient(#75485e, #51a3a3);
  margin: auto;
  margin-top: 5%;
  padding: 80px 20px 10px 20px;
  width: 300px;
  height: 450px;
  /* border: 1px solid rgba(81, 163, 163, 0.5); */
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgba(88, 128, 162, 0.3);
  color: white;
}

.login-form .btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 20px;
  background-image: linear-gradient(#f33b97, #c44683);
  border: none;
  font-weight: bold;
  color: white;
}

.login-form .btn:hover {
  border: none;
  background-image: linear-gradient(#f867b0, #c46b96);
  font-weight: normal;
}

.modal {
  background-image: linear-gradient(
    90deg,
    rgba(81, 163, 163, 0.3),
    rgba(192, 120, 155, 0.3)
  );
}

.modal-content {
  border: none;
  border-radius: 30px;
}

.card-header {
  background-image: linear-gradient(
    45deg,
    rgba(81, 163, 163, 0.8),
    rgba(192, 120, 155, 0.8)
  );
  color: white;
  border: none;
}

.card {
  border: none;
  border-bottom: 1px solid #f33b97;
  min-height: 250px;
}

.table th {
  border-bottom: 1px solid #f33b97;
}

#content-section {
  height: 50vw;
}
